@model IEnumerable<NewsApplication.Models.News>

<h1>Latest News</h1>

        @foreach(var item in Model)
        {
           <div>
               <div>
              <h2>@item.title</h2>
               @item.newsItemAdded
               </div>
               <p>@item.newsItem</p>
               
           </div>
        }
