@model IEnumerable<NewsApplication.Models.News>

<h1>Latest News</h1>

        @foreach(var item in Model)
        {
           <jumbotron class="active">
               <h2>@item.title</h2>
               <p>@item.newsItem</p>
               <div style="float: right;">@item.newsItemAdded</div>

           </jumbotron>
        }
